@using rest_api_client.Models

@model Word


<table class="table align-middle " style="text-align:center" ,>
    <tbody>
        <tr>

            <td>
                <br />
                <h1><u>@Model._Word</u></h1>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h3>Значение</h3>
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div>  
            @Model.Phon         
    </div>
</div>

<br />
@Html.ActionLink("На главную", "Index", "Words", null, new { @class = "btn btn-outline-dark" })

<hr />


<sub><i>Описание может быть не точным</i></sub>